@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto Condensed", sans-serif; */
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: #eee;
  /* background-color: #2f3640; */
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  height: 100vh;
  width: 350px;
  padding: 20px;
  background-image: linear-gradient(180deg, #130754 0%, #3b2f80 100%);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-container {
  position: relative;
  width: 100%;
  width: 360px;
  margin-top: 30px;
  background: #ebfffc;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 40px;
  overflow: hidden;
}

.cityInput {
  flex: 1;
  height: 30px;
  border: none;
  font-size: 16px;
  outline: none;
  padding: 10px;
}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ebfffc;
  padding: 10px;
  border-radius: 40px;
  cursor: pointer;
}
.search-icon img {
  margin: 5px;
}

/* 
Interior design
*/

.image {
  text-align: center;
  height: 150px;
  margin-bottom: 10px;
}

.image img {
  width: 160px;
  height: 160px;
}

.temp,
.location,
.country {
  margin-top: 5px;
  font-size: 35px;
  color: #eee;
  text-transform: uppercase;
  text-align: center;
}
.temp {
  font-weight: 500;
}

.location {
  color: white;
  font-weight: 400;
  font-size: 40px;
}

.country {
  font-size: 18px;
  color: #eee;
  font-weight: 500;
}

.cord {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  text-align: center;
}

.cord div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.cord div span {
  font-size: 14px;
}

.humidity-percent,
.wind-percent,
.cord div span:nth-child(2) {
  font-size: 18px;
  font-weight: bold;
  color: #8fd64dde;
  padding-top: 5px;
}

.data-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.element {
  text-align: center;
}

.icon {
  height: 50px;
  width: 50px;
}

.text {
  font-size: 12px;
  color: #eee;
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: #eee;
}

.copyright span {
  color: #f5e507;
}

.loading-message,
.error-message,
.city-not-found {
  margin-top: 10px;
  color: #eee;
  font-size: 25px;
  font-weight: 400;
  text-align: center;
}

/* media queires */
@media only screen and (max-width: 340px) {
  .input-container {
    width: 280px;
    margin: 25px;
  }
  .search-icon {
    position: absolute;
    right: 0px;
  }
  .data-container {
    margin: 30px;
  }
}
